In [1]:
import pandas as pd
import ast
import json
import base64
import numpy as np
import os
import cv2, random
np.set_printoptions(suppress=True, precision=4)
from scipy import spatial
import numpy as np
import yaml
import os.path as op
from tqdm import tqdm
import nltk
from nltk.corpus import wordnet
tqdm.pandas()

In [6]:
sg_tsv = './training_detection/train.label.tsv'
df_label_detection = pd.read_csv(sg_tsv,sep='\t',header = None, converters={1:json.loads})
df_label_detection=df_label_detection.rename(columns={0: "id", 1: "label"})
df_label_detection

               id                                              label
0      1000092795  [{'class': 'Bush', 'conf': 0.8409668207168579,...
1        10002456  [{'class': 'Sky', 'conf': 0.7663399577140808, ...
2      1000268201  [{'class': 'Dress', 'conf': 0.9922232031822205...
3      1000344755  [{'class': 'Man', 'conf': 0.9483818411827087, ...
4      1000366164  [{'class': 'Glasses', 'conf': 0.96930736303329...
...           ...                                                ...
28995   997338199  [{'class': 'Hair', 'conf': 0.7632176876068115,...
28996   997722733  [{'class': 'Man', 'conf': 0.9461695551872253, ...
28997   997876722  [{'class': 'Tomato', 'conf': 0.910000860691070...
28998    99804383  [{'class': 'Shirt', 'conf': 0.9361402988433838...
28999   998845445  [{'class': 'Boat', 'conf': 0.9751038551330566,...

[29000 rows x 2 columns]

In [13]:
df_label_detection["num_boxes"] = df_label_detection["label"].apply(len)

In [14]:
for index, row in tqdm(df_label_detection.iterrows()):
    if row["num_boxes"] != len(row["label"]):
        print("error")

29000it [00:03, 8811.78it/s]

In [18]:
df_label_detection["num_boxes"].max()

100

In [19]:
df_label_detection["num_boxes"].min()

10

In [20]:
df_label_detection["num_boxes"].mean()

43.65975862068966

In [5]:
sg_tsv = './features_test1/training/train.label.tsv'
df_label_segmentation = pd.read_csv(sg_tsv,sep='\t',header = None, converters={1:json.loads})
df_label_segmentation = df_label_segmentation.rename(columns={0: "id", 1: "label"})
df_label_segmentation

               id                                              label
0      1000092795  [{'class': 'Belt buckle', 'conf': 0.5350186228...
1        10002456  [{'class': 'Traffic light', 'conf': 0.51291126...
2      1000268201  [{'class': 'Dress', 'conf': 0.9662193059921265...
3      1000344755  [{'class': 'Rubber band', 'conf': 0.7075430750...
4      1000366164  [{'class': 'Drum (musical instrument)', 'conf'...
...           ...                                                ...
28995   997338199  [{'class': 'Curtain', 'conf': 0.80887413024902...
28996   997722733  [{'class': 'Sandal', 'conf': 0.717478156089782...
28997   997876722  [{'class': 'Apple', 'conf': 0.9743674397468567...
28998    99804383  [{'class': 'Signboard', 'conf': 0.706024229526...
28999   998845445  [{'class': 'Ladder', 'conf': 0.995799362659454...

[29000 rows x 2 columns]

In [10]:
df_label_segmentation["num_boxes"] = df_label_segmentation["label"].apply(len)

In [12]:
for index, row in tqdm(df_label_segmentation.iterrows()):
    if row["num_boxes"] != len(row["label"]):
        print("error")

29000it [00:02, 10537.76it/s]

In [15]:
df_label_segmentation["num_boxes"].max()

71

In [16]:
df_label_segmentation["num_boxes"].min()

1

In [17]:
df_label_segmentation["num_boxes"].mean()

14.162862068965516